@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600;
  }
  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between p-4 transition-all lg:px-10 py-6;
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[.4s] 
    hover:text-[#b3b3b3];
  }
  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }
  .rowIcon {
    @apply absolute top-0 bottom-0  z-40 m-auto h-9 w-9 cursor-pointer opacity-0 transition hover:scale-125 group-hover:opacity-100;
  }
  .input {
    @apply w-full rounded-none bg-[#333] px-3 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545];
  }
  .modalButton {
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }
  .planBox {
    @apply relative mx-1.5 flex h-20 bg-[#e50914] w-[calc(100%/3)] cursor-pointer items-center justify-center rounded-sm
    font-semibold shadow after:absolute after:top-full 
    after:left-1/2 after:block after:-translate-x-1/2 after:border-8
    after:border-b-0 after:border-transparent after:border-t-[#e50914] after:content-['']
    md:h-32 lg:mx-8;
  }
  .tableDataFeature {
    @apply w-[calc(100%/3)] p-2.5 text-center md:w-[calc(60%/3)] md:p-3.5;
  }
  .tableRow {
    @apply flex flex-wrap items-center font-medium;
  }

  .tableDataTitle {
    @apply w-full p-2.5 text-center text-sm font-normal text-white md:w-2/5 md:p-3.5 md:text-left md:text-base;
  }
  .membershipLink {
    @apply cursor-pointer text-blue-500 hover:underline;
  }
  .menu {
    @apply md:hidden;
  }

  .menu .MuiPaper-root {
    @apply !absolute !left-0 !rounded-none !border !border-[gray] !bg-black !text-white;
  }

  .menu .MuiList-root {
    @apply !p-0;
  }

  .menu .MuiMenuItem-root {
    @apply !block !w-72 !py-3.5 !text-center !text-sm !font-light !text-[#b3b3b3] !transition !duration-200 first:cursor-default first:!font-normal first:!text-white hover:!bg-[#11100F];
  }
}
